name: Playwright Tests

on:
  push:
    branches: [dev]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  playwright-tests:
    timeout-minutes: 4
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    steps:
      - uses: actions/checkout@v4

      - name: Install js-yaml
        run: npm install js-yaml

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Load and Parse YAML File
        id: load_yaml
        run: |
          echo "::set-output name=yamlContent::$(<.github/workflows/test_mapping.yml | base64)"

      - name: Run Playwright tests
        id: playwright_tests
        run: |
          echo "1"
          shard_index=${{ matrix.shardIndex }}
          echo "3"
          shard_tests=$(node -e "const yaml = require('js-yaml'); const data = yaml.safeLoad(process.argv[1]); console.log(data.shards[$shard_index].tests.join(' '));" "$shard_config")
          echo "Shard tests for shard $shard_index:"
          echo "$shard_tests"
          # Iterate over each test file and execute it
          npx playwright test $shard_tests
          echo "2"
       

      - name: Upload blob report to GitHub Actions Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: blob-report-${{ matrix.shardIndex }}
          path: blob-report
          retention-days: 1
